In [1]:
import numpy as np
import pandas as pd
import sys, os
sys.path.append(os.path.join(os.path.dirname('Demand'), '..', 'src'))
from Demand_class import Demand

In [2]:
nat_dem = Demand()

In [3]:
path = '../data/demand_lower_48'

In [4]:
nat_dem.load_data(path)

In [5]:
nat_dem.dataframe

                     Time  Megawatthours
0     2015-07-01 02:00:00         335153
1     2015-07-01 03:00:00         333837
2     2015-07-01 04:00:00         398386
3     2015-07-01 05:00:00         388954
4     2015-07-01 06:00:00         392487
5     2015-07-01 07:00:00         404647
6     2015-07-01 08:00:00         422227
7     2015-07-01 09:00:00         442131
8     2015-07-01 10:00:00         464371
9     2015-07-01 11:00:00         491512
10    2015-07-01 12:00:00         518043
11    2015-07-01 13:00:00         540514
12    2015-07-01 14:00:00         560701
13    2015-07-01 15:00:00         576400
14    2015-07-01 16:00:00         587405
15    2015-07-01 17:00:00         594477
16    2015-07-01 18:00:00         595242
17    2015-07-01 19:00:00         586317
18    2015-07-01 20:00:00         572656
19    2015-07-01 21:00:00         554682
20    2015-07-01 22:00:00         543332
21    2015-07-01 23:00:00         520871
22    2015-07-02 00:00:00         485722
23    2015-07-02 01:00:00         453284
24    2015-07-02 02:00:00         429199
25    2015-07-02 03:00:00         407007
26    2015-07-02 04:00:00         395194
27    2015-07-02 05:00:00         387654
28    2015-07-02 06:00:00         390157
29    2015-07-02 07:00:00         401643
...                   ...            ...
50149 2021-03-20 15:00:00         377793
50150 2021-03-20 16:00:00         371070
50151 2021-03-20 17:00:00         369177
50152 2021-03-20 18:00:00         372746
50153 2021-03-20 19:00:00         377810
50154 2021-03-20 20:00:00         387595
50155 2021-03-20 21:00:00         399249
50156 2021-03-20 22:00:00         402463
50157 2021-03-20 23:00:00         399263
50158 2021-03-21 00:00:00         389826
50159 2021-03-21 01:00:00         377119
50160 2021-03-21 02:00:00         366604
50161 2021-03-21 03:00:00         360027
50162 2021-03-21 04:00:00         356711
50163 2021-03-21 05:00:00         356675
50164 2021-03-21 06:00:00         360647
50165 2021-03-21 07:00:00         369839
50166 2021-03-21 08:00:00         381827
50167 2021-03-21 09:00:00         392071
50168 2021-03-21 10:00:00         396031
50169 2021-03-21 11:00:00         392491
50170 2021-03-21 12:00:00         386420
50171 2021-03-21 13:00:00         380329
50172 2021-03-21 14:00:00         372634
50173 2021-03-21 15:00:00         366173
50174 2021-03-21 16:00:00         363364
50175 2021-03-21 17:00:00         365016
50176 2021-03-21 18:00:00         371950
50177 2021-03-21 19:00:00         379932
50178 2021-03-21 20:00:00         390453

[50179 rows x 2 columns]

In [6]:
nat_dem.create_lag_variables(nat_dem.dataframe, 3, 0)

            0       1       2
3      335153  333837  398386
4      333837  398386  388954
5      398386  388954  392487
6      388954  392487  404647
7      392487  404647  422227
8      404647  422227  442131
9      422227  442131  464371
10     442131  464371  491512
11     464371  491512  518043
12     491512  518043  540514
13     518043  540514  560701
14     540514  560701  576400
15     560701  576400  587405
16     576400  587405  594477
17     587405  594477  595242
18     594477  595242  586317
19     595242  586317  572656
20     586317  572656  554682
21     572656  554682  543332
22     554682  543332  520871
23     543332  520871  485722
24     520871  485722  453284
25     485722  453284  429199
26     453284  429199  407007
27     429199  407007  395194
28     407007  395194  387654
29     395194  387654  390157
30     387654  390157  401643
31     390157  401643  417369
32     401643  417369  437741
...       ...     ...     ...
50149  408011  398755  387621
50150  398755  387621  377793
50151  387621  377793  371070
50152  377793  371070  369177
50153  371070  369177  372746
50154  369177  372746  377810
50155  372746  377810  387595
50156  377810  387595  399249
50157  387595  399249  402463
50158  399249  402463  399263
50159  402463  399263  389826
50160  399263  389826  377119
50161  389826  377119  366604
50162  377119  366604  360027
50163  366604  360027  356711
50164  360027  356711  356675
50165  356711  356675  360647
50166  356675  360647  369839
50167  360647  369839  381827
50168  369839  381827  392071
50169  381827  392071  396031
50170  392071  396031  392491
50171  396031  392491  386420
50172  392491  386420  380329
50173  386420  380329  372634
50174  380329  372634  366173
50175  372634  366173  363364
50176  366173  363364  365016
50177  363364  365016  371950
50178  365016  371950  379932

[50176 rows x 3 columns]

In [ ]:
nat_dem.create_lag_variables(nat_dem.dataframe, 3. 1)